* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "sora";
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  min-width: 300px;
  max-width: 350px;
}

.item {
  padding: 2rem;
  color: white;
}

.item > * {
  margin: 1rem;
}

.container h1 {
  text-transform: uppercase;
}

.container p {
  opacity: 0.75;
}

button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: 2px solid white;
  font-weight: 500;
  letter-spacing: 1px;
}

button:hover {
  cursor: pointer;
}

.sedans {
  background: #e28525;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.sedans button {
  color: #e28525;
}

.container > .item button:hover {
  color: white;
  background-color: transparent;
}

.suvs {
  background: #016972;
}

.suvs button {
  color: #016972;
}
.luxury {
  background: #00403f;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.luxury button {
  color: #00403f;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 900px;
  }

  .item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    min-width: 250px;
    flex: 1;
  }

  .item img {
    width: 3.5rem;
  }

  .sedans {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }

  .luxury {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }
}
